.section {
  position: relative;
  height: 100vh;
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 100%;
    text-align: center;
  }
  .swiper-container{
    min-height: 230px;
  }
  .name {
    font-weight: 500;
    margin: 15px auto;
    text-align: left;
  }
  .position {
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
  }
  .popup{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.4);
    .close-popup{
      position: absolute;
      top: 0;
      right: 0;
      width: 100px;
      height: 100px;
      background-color: rgba(23, 23, 23, 0.60);
      border-radius: 5px;
      svg{
        width: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: rgba(255, 255, 255, 0.7);
        transition: all .3s ease;
      }
      &:hover{
        background-color: rgba(23, 23, 23, 0.90);
        svg{
          width: 30px;
          fill: rgba(255, 255, 255, 0.9);
        }
      }
    }
  }
  .characteristic{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background-color: #ffffff;
    padding: 50px 30px;
    z-index: 10;
    img{
      width: 200px;
      position: relative;
      display: block;
      margin: 0 auto;
      margin-bottom: 25px;
    }
    .name, .position{
      display: block;
      text-align: left;
    }
    .text{
      margin-top: 20px;
      text-align: left;
      font-size: 13px;
      line-height: 16px;
    }
  }

  .filter {
    margin-top: 150px;
    background-color: #d1dcdc;
    width: 100%;
    text-align: center;
    .block {
      width: 110px;
      padding: 20px 10px;
      margin: 0 20px;
      cursor: pointer;
      background-color: #d1dcdc;
      height: 100%;
      display: inline-block;
      p {
        font-size: 10px;
        text-transform: uppercase;
        margin-top: 10px;
      }
      &:hover {
        background-color: #b0baba;
      }
    }
  }
  .swiper-slide{
    display: block;
  }
  .display{
    display: none;
  }
}
